{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}
    <div class="project_info" xmlns="http://www.w3.org/1999/html">
        <div class="project_files">
            <ul class="project_file_list">
            {% for file in page.project.project_files.all %}
                    <li>
                        <a href="{{ MEDIA_URL }}{{ file.file }}">
                            <img src="{{ MEDIA_URL }}{{ file.thumbnail }}" width="200" alt="{{ file.title }}" />
                        </a>
                            <p><a href="{{ MEDIA_URL }}{{ file.file }}">{{ file.title }}</a></p>

                    </li>
            {% endfor %}
            </ul>
        </div>

        {{ page.project.content|richtext_filter|safe }}
    </div>

    <script src="{{ STATIC_URL }}js/infinitecarousel/jquery.infinitecarousel3.js"></script>

    <script>
        $(function(){
            $('.project_file_list').infiniteCarousel({
                imagePath: '{{ STATIC_URL }}js/infinitecarousel/images/',
                displayProgressRing: false,
                showControls: false,
                thumbnailType:'count'
            });
        });
    </script>
{% endblock %}