{% extends "pages/page.html" %}
{% load pages_tags %}
{% load mezzanine_tags staticfiles %}

{% block meta_title %}
    Portfolio
{% endblock %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    {{ block.super }}
    <div class="project_gallery">
        {% for year, projects in portfolio.items %}
            <div class="project_year" id="project_year_{{ year }}">
                <div class="header"><h3>{{ year }}</h3></div>
                <ul>
                    {% for project in projects %}
                        <a href="/{{ project.slug }}">
                            <section class="project">
                                <header>{{ project.title }}</header>
                                {% for file in project.project_files.all %}
                                    {%  if file.primary %}
                                        <img src="{{ MEDIA_URL }}{{ file.thumbnail }} " alt="{{ file.title }}" />
                                    {% endif %}
                                {% endfor %}
                            </section>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}

    </div>
{% endblock %}
